name: auto create repo
on:
  workflow_dispatch:


env:
  APP_ID: 164400
  APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}

jobs:
  create_repo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install depends
        run: |
          sudo apt-get install curl    
      - name: install depends for load scripts
        run: |
          npm install @octokit/rest
          npm install @octokit/auth-app
      - name: Get token using github-script
        id: get-token
        uses: actions/github-script@v6
        with:
          script: |
            const { Octokit } = require("@octokit/rest");
            const { createAppAuth } = require("@octokit/auth-app");
            const appOctokit = new Octokit({
              authStrategy: createAppAuth,
              auth: {
                appId: process.env.APP_ID,
                privateKey: process.env.APP_PRIVATE_KEY,
              }
            });
            const app_installation = await appOctokit.rest.apps.getRepoInstallation({
              owner: context.payload.organization.login,
              repo: context.payload.repository.name
            });
            const { token } = await appOctokit.auth({
              type: "installation",
              installationId: app_installation.data.id
            });
            core.setOutput('app_token', token)
      - name: create repo
        run: |
            curl -u "deepin-community-bot:${{ steps.get-token.outputs.app_token }}" https://api.github.com/orgs/peeweep-test/repos -d '{"name": "test1"}'
